[Unit]
Description=terminal2

[Service]
Type=simple
User=<user>
Group=<user>
Environment=BIND=127.0.0.1:3000
WorkingDirectory=<root>
ExecStart=<root>/terminal2
Restart=always

[Install]
WantedBy=multi-user.target